@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  a {
    @apply text-orange-500;
  }
}

@layer components {
  .primary-btn {
    @apply w-full bg-orange-500 text-white font-semibold rounded-md text-center hover:bg-orange-400 transition-colors;
    
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
